.community-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 40%;
    padding: calc(40px - 40%) 40px;
}

.community-section h1{
    color: #2AB3B1;
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
}

.community-section h2 {
    color: #C0DF33;
    text-align: left;
    font-family: 'Karla', sans-serif;
}

.community-section p {
    color: #9AA7BE;
    text-align: left;
    font-family: 'Karla', sans-serif;
    margin: 10px 0 0;
}